.main {
    flex: 1;
    color: #FFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.gridIcon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridTitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.gridInfo{
    font-size: 13px;
    margin-top: 14px;
}

.yourImc{
    font-size: 17px;
    margin-top: 10px;
}